*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: $primary-text-color;
}

h2 {
  font-family: $title-font-f;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}