/* colors */
$primary-text-color: #3f3f3f;
$primary-color: #fff;
$secondary-color: #FF4B2B;
$primary-bg-color: #eee; 

/* fonts */
$base-fz: 14px;
$title-font-f: 'Montserrat', 'sans-serif';
$text-font-f: 'Roboto', 'sans-serif';

/* sizes */ 

$container-border-radius: 20px;
$form-container-padding: 25px;
$form-container-height: 250px;
$login-form-padding: 0 60px;

/* inputs */

$input-padding: 12px 15px;