.dialogs {
  &__textarea {
    width: 100%;
    resize: none;
    text-overflow: clip;
    border: none;
    border-top: 1px solid #ddd;
    padding: 10px;
  }

  &__messages {
    max-height: calc(100vh - 80px);
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    height: 100%;

    @media (max-width: 767px) {
    }
  }

  &__messages-nav {
    height: 80px;
    width: 100%;
    background-color: #ddd;
  }

  &__nav-back {
    position: relative;
    border: 2px solid #fff;
    width: 80px;
    height: 80px;
    text-align: center;
    clip-path: circle(49% at 0% 50%);
    font-family: Roboto;
    color: #fff;
    background-color: #fff;
    outline: none;
    cursor: pointer;
    font-size: 16px;

    &.right-arrow::before {
      left: 12%;
    }
    &.left-arrow::before {
      left: 28%;
    }
  }

  &__input {
    width: 100%;
    display: flex;
    height: 80px;
    align-self: flex-end;
  }
  &__page {
    position: relative;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
    height: 100vh;
    display: flex;
  }

  &__list {
    max-height: calc(100vh - 80px);
    overflow: overlay;
    width: 300px;
    border-right: 1px solid #ddd;
    transition: all 0.2s ease-in;

    @media (max-width: 767px) {
      position: absolute;
      top: 80px;
      width: 100%;
    }

    &.hide {
      animation: hideInLeft 0.2s ease-in;
      animation-fill-mode: forwards;
    }
    &.show {
      animation: showFromLeft 0.2s ease-in;
      animation-fill-mode: forwards;
    }
  }

  &__dialog-menu {
    height: 100%;
    width: 0;
    position: absolute;
    left: 0;
    background-color: cornflowerblue;
    transition: 0.2s ease-in;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__hide-dialog {
    background: transparent;
    border: 2px solid #fff;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    text-align: center;
    font-family: Roboto;
    color: #fff;
    display: none;
    cursor: pointer;
    font-size: 16px;
  }

  &__list-item {
    height: 80px;
    position: relative;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: #d4d4d4;

      .dialogs__dialog-menu {
        width: 5px;

        &:hover {
          cursor: auto;
          width: 100%;
          transition: 0.2s ease-in;
          z-index: 1;

          .dialogs__hide-dialog {
            display: block;
          }
        }
      }

      .dialogs__avatar {
        transition: all 0.2s ease-in;
        margin-right: 20px;
      }
    }
  }

  &__name {
    margin: 0;
    font-family: Montserrat;
    font-size: 13px;
  }

  &__last-visit {
    margin: 0;
    position: absolute;
    right: 5px;
    top: 5px;
    font-family: Roboto;
    font-size: 12px;
    color: #aaa;
    word-spacing: 1px;
    letter-spacing: -1px;
  }

  &__avatar {
    width: 60px;
    margin-right: 10px;
    clip-path: circle();
    transition: all 0.2s ease-in;
  }
}
