.dialogs {
  &__textarea {
    width: 100%;
    resize: none;
    text-overflow: clip;
    border: none;
    border-top: 1px solid #ddd;
    padding: 10px;
  }

  &__messages {
    display: flex;
    /* width: 100%; */
    flex-grow: 1;
  }

  &__input {
    width: 100%;
    display: flex;
    height: 80px;
    align-self: flex-end;
  }
  &__page {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
  }

  &__list {
    width: 300px;
    border-right: 1px solid #ddd;
  }

  &__dialog-menu {
    height: 100%;
    width: 0;
    position: absolute;
    left: 0;
    background-color: cornflowerblue;
    transition: 0.2s ease-in;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__hide-dialog {
    background: transparent;
    border: 2px solid #fff;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    text-align: center;
    font-family: Roboto;
    color: #fff;
    display: none;
    cursor: pointer;
    font-size: 16px;
  }

  &__list-item {
    height: 80px;
    position: relative;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: #d4d4d4;

      .dialogs__dialog-menu {
        width: 5px;

        &:hover {
          cursor: auto;
          width: 100%;
          transition: 0.2s ease-in;
          z-index: 1;

          .dialogs__hide-dialog {
            display: block;
            
          }
        }
      }

      .dialogs__avatar {
        transition: all 0.2s ease-in;
        margin-right: 20px;
      }
    }
  }

  &__name {
    margin: 0;
    font-family: Montserrat;
    font-size: 13px;
  }

  &__last-visit {
    margin: 0;
    position: absolute;
    right: 5px;
    top: 5px;
    font-family: Roboto;
    font-size: 12px;
    color: #aaa;
    word-spacing: 1px;
    letter-spacing: -1px;
  }

  &__avatar {
    width: 60px;
    margin-right: 10px;
    clip-path: circle();
    transition: all 0.2s ease-in;
  }
}
